<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="/stylesheets/estilos.css" type="text/css" rel="stylesheet"/> 



        <title>Página Principal</title>
        
    </head>
    <body>
        <table>
            <tr>
                <td><a href="preguntas.html"><input type="button" value="Aplicación Web 1: Preguntas" 
                style="width:200px; text-align:center" /></a>
                </td>
            </tr>
            <tr>
                <td><a href="Actividades.html"><input type="button" value="Aplicación Web 2: Actividades" 
                style="width:200px; text-align:center"/> </a>
                </td>
            </tr>
        </table>
        
        
        
    </body>
</html>