<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="/stylesheets/estilos.css" type="text/css" rel="stylesheet"/> 
        <title>Diplomado Microsoft HTML5</title>
        <meta name="application-name" content="Actividad final">
        <meta name="msapplication-tooltip" content="Diplomado">
        <meta name="msapplication-navbutton-color" content="black">
        <meta name="masapplication-window" content="width=1024; height=768">
        <link rel="icon" type="image/x-icon" href="/images/Globe.ico">
        <meta name="msapplication-task" content="name=Mi Twitter;action-uri=http://twitter.com/#!/ArturoGarzaVL; icon-uri=/images/Twitter-3.ico"/>
        <meta name="msapplication-task" content="name=Actividad 19;action-uri=/Actividad19.html; icon-uri=images/microsoft.ico"/>
        
    </head>
    <body>
        <table>
            <tr style="text-align:center">
                <td style="width:200px; padding-bottom:30px;">Diplomado Microsoft: Fundamentos de HTML5</td>
            </tr> 
            
            <tr style="text-align:center">
                <td style="width:200px">Arturo Garza Jacobo</td>
            </tr>
            
            <tr>
                <td><a href="preguntas.html"><input type="button" value="Preguntas y Respuestas" 
                style="width:200px; text-align:center"/>
                </td>
            </tr>
            <tr>
                <td><a href="Actividad7.html"><input type="button" value="Actividad 7" 
                style="width:200px; text-align:center"/></a>
                </td>
            </tr>
            <tr>
                <td><a href="Actividades.html"><input type="button" value="Actividad 9" 
                style="width:200px; text-align:center"/></a>
                </td>
            </tr>
            <tr>
                <td><a href="Actividad19.html"><input type="button" value="Actividad 19" 
                style="width:200px; text-align:center"/></a>
                </td>
            </tr>
        </table>
        
        
        
    </body>
</html>