<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AUDIO APP</title>
    </head>
    <body>
        <!-- Para reproducir archivo de audio, classid, id del componente de audio-->
       <object classid="05589FA1-C356-11CE-BF01-00AA0055595A" 
        data="audio/divstreet.mp3" type="audio/mp3" width="200" height="200"> 
        <embed src="audio/divstreet.mp3" width="400" height="200"></embed> 
        </object> 
            
        
            
        
        
    </body>
</html>