<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="/stylesheets/estilos.css" type="text/css" rel="stylesheet"/> 
        <title>Diplomado Microsoft HTML5</title>
        <meta name="application-name" content="Actividad final">
        <meta name="msapplication-tooltip" content="Diplomado">
        <meta name="msapplication-navbutton-color" content="black">
        <meta name="masapplication-window" content="width=1024; height=768">
        <link rel="icon" type="image/x-icon" href="/images/Globe.ico">
        <meta name="msapplication-task" content="name=Actividad 7;action-uri=/Actividad7.html; icon-uri=/images/button-blue.ico"/>
        <meta name="msapplication-task" content="name=Actividad 9;action-uri=/Actividad9.html; icon-uri=/images/button-green.ico"/>
        <meta name="msapplication-task" content="name=Actividad 11;action-uri=/Actividad11.html; icon-uri=/images/button-red.ico"/>
        <meta name="msapplication-task" content="name=Actividad 13;action-uri=/Actividad13.html; icon-uri=/images/button-yellow.ico"/>
        <meta name="msapplication-task" content="name=Actividad 19;action-uri=Actividad19.html; icon-uri=/images/microsoft.ico"/>
        
    </head>
    <body>
         <table>
            <tr>
                <td style="width:20px; padding-bottom:30px; font-size:16pt; text-align:center;">Diplomado Microsoft: Fundamentos de HTML5</td>
            </tr> 
            
            <tr>
                <td style="width:20px; padding-bottom:10px; font-size:16pt; text-align:center">Arturo Garza Jacobo</td>
            </tr>
            
            <tr>
                <td><a href="/preguntas.html"><input type="button" value="Preguntas y Respuestas" 
                style="width:200px; text-align:center"/>
                </td>
            </tr>
            <tr>
                <td><a href="/Actividad7.html"><input type="button" value="Actividad 7" 
                style="width:200px; text-align:center"/></a>
                </td>
            </tr>
            <tr>
                <td><a href="/Actividad9.html"><input type="button" value="Actividad 9" 
                style="width:200px; text-align:center"/></a>
                </td>
            </tr>
             <tr>
                <td><a href="/Actividad11.html"><input type="button" value="Actividad 11" 
                style="width:200px; text-align:center"/></a>
                </td>
            </tr>
             <tr>
                <td><a href="/Actividad13.html"><input type="button" value="Actividad 13" 
                style="width:200px; text-align:center"/></a>
                </td>
            </tr>
            <tr>
                <td><a href="/Actividad19.html"><input type="button" value="Actividad 19" 
                style="width:200px; text-align:center"/></a>
                </td>
            </tr>
        </table>
        
        
        
        
    </body>
</html>