<!DOCTYPE html>
<!-- inserción de imagenes-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <link href="estilos.css" type="text/css" rel="stylesheet"/> -->
        <title>F A N F A R L O </title>
        <!--<style type="text/css">
        a img
        {
            border:green;   
        }
  
        </style>-->   
        <style type="text/css">
            .ParrafoAlineado
            {
                text-align:center;
            }
            .ImagenAlineada 
            {
                float:left;
                padding-right:30px;
                padding-bottom:30px;
            }
            body
            {
                
                background-image:url("C:Sites/diplomado1/app/views/diplomado1/imagenes/snw.jpg");
                background-repeat:no-repeat;
                background-position:center;
                background-attachment:scroll;
                

                
                
            }
        </style>
    
    </head>
    <body>
        
        <!-- <img src="imagenes/pantone.jpg" alt="P a n t o n e" 
        width="100" height="100"/> <!-- formato para inserción de imagen, alt para cuando no se muestre la imagen -->
        <!-- <a href="http://railsforhumans.com" target="_blank"><!-- insertar links con imagenes -->
        <!-- <img src="http://aulaazure.ti-capacitacion.com/Content/imagenes/LogoTICapacitacion146x157.png" alt="Logo TI Capacitación"
        widht="100" height="100"/> 
         </a>  -->
        <p align="center">This is Fanfarlo</p>
        <p class="ParrafoAlineado">
        <img class="ImagenAlineada" src="/images/fanfarlo.jpg" alt="fanfarlo greenscreen" width="200" height="100"/>
        Fanfarlo es una banda londinense de indie pop formada en 2006 por el músico sueco Simon Balthazar y por Giles J Davis (que abandonó el grupo antes del lanzamiento de su primer single). 
            Fusionan elementos de la música folk, el indie rock y post punk usando instrumentos variados como la trompeta, el violín, la mandolina, la sierra musical y el clarinete.
            La banda, cuyo nombre proviene de la novela de Charles Baudelaire, 'La Fanfarlo', empezó sus actuaciones en directo en pequeños locales de música indie de Londres, y lanzó cuatro singles 
            de edición limitada en vinilo en discográficas independientes londinenses (uno de ellos junto con Sleeping States) entre 2006 y 2008.</p>
            </p>
            
            <p>Su álbum debut, Reservoir se grabó en octubre y noviembre de 2008 en Tarquin Studios, Connecticut, en los Estados Unidos y fue producido por Peter Katis (productor de bandas como The National o Interpol). 
            El álbum se lanzó en febrero de 2009 por medio de la propia discográfica de la banda, Raffle Bat, y posteriormente se cedió su licencia a la firma Canvasback, propiedad de Atlantic Records, quien lo lanzó 
            en el Reino Unido y Estados Unidos en octubre de 2009 y en Europa en abril de 2010.</p>
                
            <p id="TheWalls">
                "The Walls Are Coming Down"
            </p>
            <p>Su single "The Walls Are Coming Down" salió a la luz en septiembre de 2009. El vídeo musical del single fue dirigido por Iain Forsyth y Jane Pollard, y presenta al escapista Roslyn Walker haciendo el truco 
            de escapar de una camisa de fuerza estando bocabajo, truco que ya había sido realizado por Harry Houdini al principio del 1900. El truco fue también incorporado en la actuación del grupo en Webster Hall en
            Nueva York el 19 de diciembre de 2009 (aunque esta vez el escapista fue Michael Lee).</p>
        
        
    </body>
</html>
