body 
{   
    /*background-image: url('/images/lightblue.jpg');*/
    background-image: url('/images/fondoazul.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-repeat:repeat-x;*/
    font-family:"DelRomIE","DelRom","Helvetica", "Arial Black", sans-Serif;
    font-size:50px;
    color:White;
  
    
} 
#encabezado
{
	color:White;
	font-family:"DelRomIE","DelRom","Helvetica", "Arial Black", sans-Serif;
	text-align:center;
	font-size:50px;
}

.sub
{
	color:White;
	font-family:"DelItIE","DelIt","Helvetica", "Arial Black", sans-Serif;
	text-align:center;
    font-size:40px;
}
@font-face
{
		font-family:"DelRomIE";
		src:url("/webfonts/Delicious-Roman.eot");
}

@font-face
{
		font-family:"DelRom";
		src:url("/webfonts/Delicious-Roman.ttf");
}
@font-face
{
		font-family:"DelItIE";
		src:url("/webfonts/Delicious-Italic.eot");
}

@font-face
{
		font-family:"DelIt";
		src:url("/webfonts/Delicious-Italic.ttf");
}

#navegacion
{
	list-style-type:none;
	width:800px;
	margin:auto;
	height:50px;
	margin-top:60px;
	}

#navegacion .submenu a
{
	padding-top:15px;
	float:left;
	width:155px;
	height:30px;
	font-family:"DelRomIE","DelRom","Helvetica", "Arial Black", sans-Serif;
	font-size:20px;
	color:#fff;
	background:none;
	text-decoration:none;
	text-align:center;
}

#navegacion .division{
	width:2px;
	background:#719443;
	height:45px;
	float:left;
    
    
}
#navegacion .submenu a:hover , #navegacion .submenu #seleccionado:hover{
	/*/background:url(images/*.png) bottom center no-repeat;
	color:#f7ac42;*/
    color:Red;
}



#navegacion .submenu #seleccionado{
	color:Red;
}




#contenido
{
	
    font-family:"DelRomIE", "DelRom","Helvetica", Arial, sans-serif;
	text-align:justify;
	font-size:60px;
	width:1200px;
	margin:auto;
	padding-top:60px;
    padding-left:20px;
	height:1400px;
    background-image:url('/images/san_pellegrino.jpg');
    color:green;
    
    
}
#contenido2
{
	
    font-family:"DelRomIE", "DelRom","Helvetica", Arial, sans-serif;
	text-align:justify;
	font-size:60px;
	width:1200px;
	margin:auto;
	padding-top:60px;
    padding-left:20px;
	height:1400px;
    background-color:transparent;
    color:white;
    
    
}

#ul{
	
	font-family:"Helvetica", Arial, sans-serif;
	text-align:left;
	font-size:50px;
	width:700px;
    margin-top:5%;
	margin-left:2%;
    list-style-type:disc;
}

#ul2{
	
	font-family:"Helvetica", Arial, sans-serif;
	text-align:justify;
	font-size:50px;
	width:700px;
    margin-top:5%;
	margin-left:2%;
    list-style-type:none;
}

#ul2, li 
{
	line-height:300px;
	padding-left:90px;
	
	margin-bottom:10px;
}