body 
{   
    /* por fin tengo el fondo como quería, BACKGROUND FIJO*/
    background-image: url('/images/fondo_gris_deg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 
table
{
    margin-top:20%;
    margin-left:35%;
    
        
    
   
}
    